*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
}
.banner{
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(left, #f791ee, #7ec5ff);
    background: -moz-linear-gradient(left, #f791ee, #7ec5ff);
    background: -ms-linear-gradient(left, #f791ee, #7ec5ff);
    background: -o-linear-gradient(left, #f791ee, #7ec5ff);
    background: linear-gradient(to right, #f791ee, #7ec5ff);
    background-size: cover;
    background-position: center;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:#fff ;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 45px !important;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #fff;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;

}
button:hover{
    border: none;
    color: black;
    transition: 0.5s;
}

.img-cointainer{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    justify-content: center;
  }
  .l1{
    position: absolute;
    margin-top: -20rem;
    margin-left: -30rem;
    transform: rotate(-20deg);
  }
  .l2{
    position: absolute;
    margin-top: 20rem;
    margin-right: -40rem;
    transform: rotate(10deg);
  }
  .l3{
    position: absolute;
    margin-top: 25rem;
    margin-left: -30rem;
    transform: rotate(20deg);
  }