body {
    width: 100vw;
    height: 100vh;
  }
  header {
    width: 100%;
    background-color: white;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 0.5px solid blueviolet;
  }
  #navbar {
    background-color: white;
  }
  #logo {
    width: 100px;
    margin-top: 0px;
  }
  #titulo{
    margin-top: 100px;
    margin-left: 150px;
    width: auto;
    height: auto;
    font-size: 30px; 
  }
#textinho{
    margin-left: 150px;
    width: 500px;
    height: 500px;
    font-size: 20px; 
    text-align: justify;
}
.bottom{
  text-align: center;
  justify-content: baseline;
  background-color: black;
  margin-top: 200px;
}