body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#center, #center2, #center3, #center4 {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0 2%;
  display: flex;
}
#center2{
  margin-left: -750px;
}
#center3{
  margin-left: -350px;
}
#center4{
  margin-left: -50px;
}
header {
  width: 100%;
  background-color: white;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 0.5px solid blueviolet;
}
#navbar {
  background-color: white;
}
.btn-acao {
  display: flex;
}
#logo {
  width: 100px;
  margin-top: 0px;
}

.menu a {
  color: blueviolet;
  font-size: 15px;
  text-decoration: none;
}
.menu a:hover {
  color: aqua;
}
.menu .btn_menu {
  background-color: aquamarine;
  display: inline-block;
  padding: 4px 10px;
}
#sembug{
 height: 300px !important;
 width: 1200px !important;
}
#titulo{
  margin-top: 250px;
  margin-left: 160px;
  font-size: 120px;
  height: 150px;
  width: 500px;
}
#titulo2{
  margin-top: -45px;
  margin-left: 360px;
  font-size: 120px !important;
  width: 500px;
}
#imagem_logo{
  margin-top: -350px;
  margin-left: 750px;
}
.bottom{
  text-align: center;
  justify-content: baseline;
  background-color: black;
  margin-top: 200px;
}

.custom-card{
  display: block;
  width: 300px;
  height: 500px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 250px;
  margin-left: 70px;
}

.custom-card:hover{
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3  );
}
.card-image {
  width: 300px;
  height: 250px;
  display: block;
  background: url("./li.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  margin: 25px;
  height: 100px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}
.card-price {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #e6cefd;
}
.card-price .store {
  font-size: 18px;
  width: 150px;
}
.card-price .store-price {
  font-size: 28px;
  width: 150px;
  font-weight: bold;
}