body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    background-color: white;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 0.5px solid blueviolet;
  }
  #navbar {
    background-color: white;
  }
  #logo {
    width: 100px;
    margin-top: 0px;
  }
  #titulo{
    margin-top: 100px;
    margin-left: 150px;
    width: auto;
    height: auto;
    font-size: 30px; 
  }
  #titulo2{
    margin-top: 20px;
    width: auto;
    height: auto;
    font-size: 40px; 
    cursor: pointer;
  }
  #titulo2:hover{
    text-decoration: underline;
  }
#textinho{
    margin-left: 150px;
    width: 500px;
    height: 500px;
    font-size: 20px; 
    text-align: justify;
}
.bottom{
  text-align: center;
  justify-content: baseline;
  background-color: black;
  color: #fff;
  margin-top: 200px;
  width: 100%;
}
#ft_grupo{
  margin-top: -730px;
  margin-left: 750px;
  height: 400px;
  width: 400px;
}
#center, #center2, #center3, #center4{
  background-color: rgb(255, 255, 255);
  justify-content: center;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0 2%;
  display: flex;
}
#center{
  margin-left: -1055px;
}
#center2{
  margin-left: -750px;
}
#center3{
  margin-left: -300px;
}
#pessoa1, #pessoa2{
  margin-top: 50px;
}
#pessoa3{
  margin-top: 50px;
}
#pessoa4, #pessoa5{
  margin-top: 50px;
}
#p1{
  font-size: 30px;
}
#login{
  width: 200px !important;
  padding-left: 10px;
}
#termos{
  color: #fff;
  text-decoration: none;
}